@model Web.Models.UsersListViewModel

@{
    Layout = null;
}


@using (Html.BeginForm("Update", "Users", FormMethod.Post, new { id = "frmdata" }))
{
    @Html.AntiForgeryToken()

    <div hidden>
        @Html.HiddenFor(d => d.Id);
    </div>

    <!--begin::Input group-->
    <div class="d-flex flex-column mb-8 fv-row">
        @Html.Label("Usuario", "Usuario", new { @class = "d-flex align-items-center fs-6 fw-bold mb-2" })
        @Html.TextBoxFor(d => d.Name, new { disabled = "disabled", @class = "form-control form-control-solid" })
        <p id="txtValidationMessage" class="fv-plugins-message-container invalid-feedback"></p>
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="d-flex flex-column mb-8 fv-row">
        <h2 class="h4 mb-1">Seleccione los perfiles para el usuario.</h2>
        <p class="small text-muted mb-4">Debe seleccionar al menos un perfil para el usuario.</p>
        @* @Html.Label("Perfiles Asignados al Usuario", "Perfiles Asignados al Usuario", new { @class = "d-flex align-items-center fs-6 fw-bold mb-2" }) *@
        <hr />
        <table class="table align-middle">
            <thead>
                <tr>
                    <th class="p-0 w-10px"></th>
                    <th class="p-0 w-25px"></th>
                    <th class="p-0 w-200px"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.listAccess.Count; i++)
                {
                    <tr>
                        <td>
                            <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-primary"></span>
                        </td>
                        <td class="ps-0">
                            <div class="form-check form-check-custom form-check-success form-check-solid">
                                @Html.HiddenFor(x => Model.listAccess[i].RolId)
                                @Html.HiddenFor(x => Model.listAccess[i].Name)
                                @Html.CheckBoxFor(x => Model.listAccess[i].IsSelected, new { @class = "form-check-input", id = "permissions" })
                            </div>
                        </td>
                        <td>
                            @Html.LabelFor(x => Model.listAccess[i].IsSelected, Model.listAccess[i].Name, new { @class = "text-gray-800 text-hover-primary fw-bold fs-6" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>       

        @Html.ValidationSummary("", new { @class = "fv-plugins-message-container invalid-feedback" })
    </div>
    <!--end::Input group-->
    <!--begin::Actions-->
    <div class="text-center">
        <button type="button" id="kt_modal_new_target_cancel" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="btnSave" class="btn btn-primary">
            <span class="indicator-label">Guardar</span>
            <span class="indicator-progress">
                Espere por favor...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
    <!--end::Actions-->

    


}

<script>
    $(document).ready(function() {
         // Define form element
        let form = document.getElementById('frmdata');

        // Init form validation rules.
        var validator = FormValidation.formValidation(
            form,
            {
                fields: {
                    'permissions': {
                         validators: {
                            callback: {
                                message: 'Debe seleccionar al menos un Permiso.',
                                callback: function (value, validator, $field) {
                                    // Verificar si al menos un checkbox está seleccionado
                                    return form.querySelectorAll('input[type=checkbox]:checked').length > 0;
                                }
                            }
                        }
                    },
                   
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap: new FormValidation.plugins.Bootstrap5({
                        rowSelector: '.fv-row',
                        eleInvalidClass: '',
                        eleValidClass: ''
                    }),
                }

            }
        );

        // Submit button handler
        const submitButton = document.getElementById('btnSave');
        submitButton.addEventListener('click', function (e) {
            // Prevent default button action
            e.preventDefault();

            // Validate form before submit
            if (validator) {
                validator.validate().then(function (status) {
                    console.log('validated!');

                    if (status == 'Valid') {
                        // Show loading indication
                        submitButton.setAttribute('data-kt-indicator', 'on');

                        // Disable button to avoid multiple click
                        submitButton.disabled = true;

                        form.submit(); // Submit form
                    }
                });
            }
        });

    });
</script>